.env
data/input/*
!data/input/.gitkeep
data/stage1/*
!data/stage1/.gitkeep
data/stage2/*
!data/stage2/.gitkeep
data/stage3/*
!data/stage3/.gitkeep
data/output/*
!data/output/.gitkeep
logs/
__pycache__/
*.pyc
.DS_Store
